@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Open+Sans:ital,wght@1,600;1,700&family=Slabo+27px&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto";
  font-weight: 300;
  text-align: justify;
  background-color: rgba(247, 244, 239, 0.904);
  font-size: 16px;
}

.container-img .evento-descripcion figure .btn, .home-nosotras .btn.nos, .body-home .container .row .cont-card .card-home .btn {
  background-color: rgb(148, 138, 138);
  border-radius: 5%;
  color: white;
  border: none;
  transition: all 1s;
}
.container-img .evento-descripcion figure .btn:hover, .home-nosotras .btn.nos:hover, .body-home .container .row .cont-card .card-home .btn:hover {
  background-color: rgb(212, 198, 146);
  color: rgb(243, 243, 225);
  transform: scale(1.1);
}
.container-img .evento-descripcion figure .btn a, .home-nosotras .btn.nos a, .body-home .container .row .cont-card .card-home .btn a {
  text-decoration: none;
  color: white;
}

footer .foot .redes .redes_iconos {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------------------------- header --------------------------------- */
header {
  z-index: 10;
  background-color: rgb(174, 174, 185);
  position: sticky;
  top: 0;
  font-size: 1em;
  /* ------------------------------- inicio nav ------------------------------- */
}
header .barra {
  max-width: 72rem;
  margin: auto;
  display: flex;
  justify-content: center;
}
header .barra .logo {
  display: flex;
}
header .barra .logo .logo-img {
  width: 4em;
  border-radius: 20%;
  padding: 0.5em;
}
header .barra .logo h1 {
  color: rgb(212, 198, 146);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.8em;
  font-weight: unset;
  align-self: center;
}
header .navbar {
  box-shadow: 0 0 5px 0 rgb(221, 215, 215);
  z-index: 10;
  padding: 0px;
  position: relative;
  top: 0;
}
header .button-nav {
  background-color: white;
  color: gray;
}
header .navbar-collapse {
  justify-content: center;
}
header .navbar-nav li:hover ul {
  display: block;
}
header .nav-link {
  color: white !important;
  font-size: 1.2em;
  --clippy: polygon(0 0, 0 0, 0 98%, 0% 100%);
}
header .nav-link::after {
  content: "";
  display: block;
  background-color: white;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.5s;
}
header .nav-link:hover {
  color: rgb(37, 36, 36);
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
header .dropdown-menu {
  background-color: rgb(174, 174, 185);
}
header .dropdown-item {
  color: white;
}
header .navbar-toggler {
  margin: 0.25rem;
}
@media screen and (max-width: 576px) {
  header {
    font-size: 12px;
  }
}

/* ------------------------------- fin nav ------------------------------- */
/* --------------------------------- header --------------------------------- */
#header-home {
  z-index: 10;
  position: sticky;
  transition: 0.7s;
  margin-top: 20px;
  top: 0;
  font-size: 1.3em;
  background-color: transparent;
  /* ------------------------------- inicio nav ------------------------------- */
}
#header-home .barra {
  max-width: 72rem;
  margin: auto;
  display: flex;
  justify-content: center;
}
#header-home .barra .logo {
  display: flex;
}
#header-home .barra .logo .logo-img {
  width: 4em;
  border-radius: 20%;
  padding: 0.5em;
}
#header-home .barra .logo h1 {
  color: rgb(212, 198, 146);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3em;
  font-weight: unset;
  align-self: center;
}
#header-home .barra .redes_head {
  display: flex;
  align-items: center;
}
#header-home .barra .redes_head .redes_head1 {
  display: flex;
  padding: 0em 0.5em;
  width: 3.125em;
}
#header-home .barra .redes_head .redes_head1 img {
  width: 2.5em;
}
#header-home.down {
  background-color: rgb(174, 174, 185);
  font-size: 1rem;
}
#header-home.down .logo h1 {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.8em;
  font-weight: unset;
  align-self: center;
}
#header-home.down .dropdown-menu {
  background-color: rgb(174, 174, 185);
}
#header-home .navbar {
  box-shadow: 0 0 5px 0 rgb(221, 215, 215);
  z-index: 10;
  padding: 0px;
  position: relative;
  top: 0;
  transition: top 0.3s;
}
#header-home .button-nav {
  background-color: white;
  color: gray;
}
#header-home .navbar-collapse {
  justify-content: center;
}
#header-home .navbar-nav li:hover ul {
  display: block;
}
#header-home .nav-link {
  color: white !important;
  font-size: 1.2em;
  --clippy: polygon(0 0, 0 0, 0 98%, 0% 100%);
}
#header-home .nav-link::after {
  content: "";
  display: block;
  background-color: white;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.5s;
}
#header-home .nav-link:hover {
  color: rgb(37, 36, 36);
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
#header-home .dropdown-menu {
  background-color: transparent;
}
#header-home .navbar-toggler {
  margin: 0.25rem;
}
@media screen and (max-width: 576px) {
  #header-home {
    font-size: 12px;
  }
}

/* ------------------------------- fin nav ------------------------------- */
/* ------------------------------ inicio footer ----------------------------- */
footer {
  background-color: rgb(174, 174, 185);
}
footer .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: auto;
}
footer .foot .botonera_f {
  margin: 0em 0.5em;
}
footer .foot .botonera_f .botonera_f_tit {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.4em;
  font-size: 1.2em;
  border-bottom: 1px solid black;
}
footer .foot .botonera_f ul li {
  text-decoration: none;
  list-style: none;
  text-align: flex-start;
  padding: 0.2em;
}
footer .foot .botonera_f ul li a {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 576px) {
  footer .foot .botonera_f {
    display: none;
  }
}
footer .foot .redes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0em 0.5em;
}
footer .foot .redes .redes_tit {
  margin-top: 0.5rem;
  padding: 0.4em;
  font-size: 1.2em;
  text-align: center;
  border-bottom: 1px solid black;
}
footer .foot .redes .redes_iconos {
  padding-top: 2rem;
}
footer .foot .redes .redes_iconos .redes_link1 {
  padding: 0.5em;
  margin-bottom: 2.5em;
}
footer .foot .redes .redes_iconos .redes_link1 .redes-img {
  width: 3.12em;
}
footer .foot .redes .redes_iconos .redes_link2 {
  padding: 0.5em;
  margin-bottom: 2.5em;
}
footer .foot .redes .redes_iconos .redes_link2 .redes-img {
  width: 3.12em;
}
footer .foot .redes .logo-f .logo-tit-f {
  font-size: 1.8em;
  color: gray;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: unset;
  align-self: center;
}
footer .foot .foot_contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: start;
  margin: 0em 0.5em;
}
footer .foot .foot_contacto .foot_contacto_tit {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.4rem;
  font-size: 1.2em;
  text-align: center;
  border-bottom: 1px solid black;
}
footer .foot .foot_contacto div .foot_contacto_iconos {
  display: flex;
  flex-direction: row;
  text-align: center;
}
footer .foot .foot_contacto div .foot_contacto_iconos .icono {
  width: 30px;
}
footer .foot .foot_contacto div .foot_contacto_iconos h5 {
  text-align: center;
  font-size: 1em;
  font-weight: lighter;
  padding: 0.6rem;
}
@media screen and (max-width: 1140px) {
  footer .foot {
    max-width: 700px;
    margin: auto;
  }
}
@media screen and (max-width: 576px) {
  footer {
    font-size: 12px;
  }
}

/* ------------------------------- fin footer ------------------------------- */
/* ---------------------------------- cuerpo home ---------------------------------- */
.carousel {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
}
.carousel .carousel-inner {
  height: 100%;
}
.carousel .carousel-inner .active {
  height: 100%;
}
.carousel .carousel-inner .active img {
  object-fit: cover;
  height: 100%;
}
.carousel .carousel-inner .active .text-carousel {
  font-size: 3em;
  font-family: "Julius Sans One", sans-serif;
  font-weight: bold 800;
  color: white;
  margin-bottom: 5em;
  background-color: rgba(129, 128, 125, 0.452);
  border-radius: 5%;
  box-shadow: 0 0 30px 0 rgb(167, 157, 157);
}

.body-home {
  position: relative;
  top: 40rem;
}
.body-home .container {
  max-width: 72em;
  margin: auto;
}
@media screen and (max-width: 576px) {
  .body-home .container .row {
    max-width: 400px;
    margin: auto;
  }
}
.body-home .container .row .cont-card {
  display: flex;
  flex-wrap: nowrap;
}
.body-home .container .row .cont-card .card-home {
  box-shadow: 0 0 30px 0 rgb(90, 88, 88);
}
.body-home .container .row .cont-card .card-home .card-img-top {
  transition: all 1s;
}
.body-home .container .row .cont-card .card-home .card-img-top:hover {
  transform: scale(0.9);
}
.home-nosotras {
  padding: 2rem;
  text-align: center;
}
.home-nosotras h2 {
  font-family: "Slabo 27px", serif;
  font-size: 2.5em;
  font-weight: 500;
  text-align: center;
  padding: 0.5em 0em;
  border-bottom: 1px solid gray;
  margin-top: 1em;
}
.home-nosotras .btn.nos {
  display: flex;
  justify-content: center;
  padding: 0.6rem 0.8rem;
  margin: 1rem 4rem;
}

.img_nosotras {
  width: 100%;
  padding: 3em;
}

/* -------------------------------- nosotras -------------------------------- */
.nos_portada {
  display: grid;
  background-image: url(../../img/fondo-nos.png);
  background-size: contain;
  max-width: 72rem;
  margin: auto;
}
.nos_portada .nos_portada_art {
  justify-self: center;
  width: 80%;
  margin: 1rem 1rem 5rem 1rem;
}
.nos_portada .nos_portada_art h2 {
  font-family: "Slabo 27px", serif;
  font-size: 2.5em;
  font-weight: 500;
  text-align: center;
  padding: 0.5em 0em;
  border-bottom: 1px solid gray;
  margin: 1em 3em;
}
.nos_portada .nos_portada_art p {
  text-align: center;
  font-size: 1.2em;
}
@media screen and (max-width: 990px) {
  .nos_portada .nos_portada_art {
    width: 70%;
    font-size: 14px;
  }
}
@media screen and (max-width: 770px) {
  .nos_portada .nos_portada_art {
    width: 80%;
    font-size: 12px;
  }
}

.card-nos {
  position: relative;
  bottom: 4rem;
}
.card-nos .nos_main_art {
  justify-items: center;
  width: 90%;
  padding: 4rem 2rem 1rem 2rem;
  margin: 0.5;
  border: 2px solid gray;
}
.card-nos .nos_main_img {
  width: 80%;
  padding: 1rem;
  margin: 0rem 2rem 2rem 2rem;
  border-radius: 2%;
  position: relative;
  top: 5rem;
}

/* ------------------------------ fin nosotras ------------------------------ */
/* -------------------------------- Productos ------------------------------- */
.tit {
  max-width: 1140px;
  margin: auto;
}
.tit h2 {
  font-family: "Slabo 27px", serif;
  font-size: 2.5em;
  font-weight: 500;
  text-align: center;
  padding: 0.5em 0em;
  border-bottom: 1px solid gray;
  margin: 1em 3em;
}

#sahumerios {
  margin-top: 2rem;
}

#sahumos {
  margin-top: 2rem;
}

#velas {
  margin-top: 2rem;
}

.item_img {
  width: 18rem;
  padding: 0.5rem 0.5rem;
}

/* ------------------------------ fin productos ----------------------------- */
/* --------------------------------- mayorista -------------------------------- */
.mayor_tit {
  display: grid;
  justify-items: center;
  width: 70%;
  margin: auto;
}
.mayor_tit h2 {
  font-family: "Slabo 27px", serif;
  font-size: 2.5em;
  font-weight: 500;
  text-align: center;
  padding: 0.5em 0em;
  border-bottom: 1px solid gray;
  margin: 1em 0em;
}

.container-img {
  width: 100%;
  max-width: 1140px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px;
}
.container-img .evento-descripcion {
  background-color: #f1ecdb;
  border: 2px solid rgb(174, 174, 185);
  border-radius: 2%;
  color: rgb(63, 44, 8);
  text-align: center;
  font-size: 1.2em;
  align-items: center;
}
.container-img .evento-descripcion figure {
  margin-top: 2rem;
}
.container-img .evento-descripcion figure .btn a {
  font-size: 1em;
}
.container-img .box-img:nth-child(1) {
  grid-column-start: span 2;
}
@media screen and (max-width: 770px) {
  .container-img .box-img:nth-child(1) {
    grid-column-start: span 1;
  }
}
.container-img .box-img:nth-child(4) {
  grid-row-start: span 2;
}
.container-img .box-img figure {
  width: 100%;
  height: 100%;
}
.container-img .box-img figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 570px) {
  .container-img .box-img figure img {
    height: 200px;
  }
}
@media screen and (max-width: 770px) {
  .container-img {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-rows: 200px;
  }
}
@media screen and (max-width: 570px) {
  .container-img {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ------------------------------- fin mayorista ------------------------------- */
/* --------------------------------- + Info --------------------------------- */
.body-info {
  max-width: 72em;
  margin: auto;
}
.body-info h2 {
  font-family: "Slabo 27px", serif;
  font-size: 2.5em;
  font-weight: 500;
  text-align: center;
  padding: 0.5em 0em;
  border-bottom: 1px solid gray;
  margin: 1em 6em;
}
.body-info .container {
  margin-bottom: 3em;
}
.body-info .container .text-acordeon {
  font-size: 0.8em;
  background-color: white;
}
.body-info .container .text-acordeon:not(.collapsed) {
  color: white;
  background-color: rgb(174, 174, 185);
}
.body-info .container .text-acordeon:not(.collapsed)::after {
  color: white;
  background-color: rgb(174, 174, 185);
}
.body-info .container .info1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1rem;
  line-height: 1.5rem;
}
.body-info .container .info1 video {
  width: 90%;
  justify-self: center;
  object-fit: cover;
  height: 100%;
}
@media screen and (max-width: 990px) {
  .body-info .container .info1 video {
    width: 70%;
  }
}
.body-info .container .info1 .main_art_video {
  width: 100%;
  justify-self: start;
}
.body-info .container .info1 .main_art {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}
.body-info .container .info1 img {
  width: 70%;
  border-radius: 1.5%;
  box-shadow: 10px 5px 5px rgba(173, 140, 77, 0.589);
  justify-self: center;
  object-fit: cover;
  height: 100%;
}
@media screen and (max-width: 990px) {
  .body-info .container .info1 img {
    width: 70%;
  }
}
@media screen and (max-width: 990px) {
  .body-info .container .info1 {
    grid-template-columns: 1fr;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.body-info .container h4 {
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}
.body-info .container .img-fluid {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* ------------------------------ Fin + Info ----------------------------- */
/* -------------------------------- contacto -------------------------------- */
.contacto-tit {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid gray;
  margin-bottom: 1rem;
}

.item_contacto {
  display: flex;
  justify-content: center;
  text-align: start;
}
.item_contacto img {
  margin-right: 0.5em;
}
.item_contacto .wp-n {
  padding-right: 1em;
}

.item_redes {
  display: flex;
  justify-content: center;
  padding: 0.4rem;
}
.item_redes a {
  align-items: center;
  padding: 0.4rem;
  text-decoration: none;
  color: black;
}
.item_redes .r-instagram:hover {
  color: rgba(208, 34, 214, 0.973);
}
.item_redes .r-facebook:hover {
  color: rgba(33, 108, 221, 0.973);
}

.mapa {
  width: 100%;
  height: auto;
}

/* form  */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(226, 225, 225);
}
.form-container .form-tit {
  text-align: center;
  border-color: 1px solid rgb(228, 223, 223);
  border-radius: 3px;
  margin: 0.5rem 0;
  padding: 0.4rem;
}
.form-container .contacto-form {
  border: 1px solid rgb(228, 223, 223);
  border-radius: 3px;
  width: 80%;
  margin: 0 0 1.5rem 0;
}
.form-container .contacto-form .form-row {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.form-container .contacto-form .form-row label {
  margin-bottom: 10px;
}
.form-container .contacto-form .form-row input[type=text],
.form-container .contacto-form .form-row input[type=email],
.form-container .contacto-form .form-row input[type=number] {
  background-color: white;
  border: 1px solid rgb(163, 163, 167);
  border-radius: 3px;
  width: 100%;
  padding: 8px;
}
.form-container .contacto-form .form-row textarea {
  background-color: white;
  border: 1px solid rgb(163, 163, 167);
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 7px;
  min-height: 100px;
  min-width: 100%;
  resize: none;
}
.form-container .contacto-form .form-row .instructions {
  color: rgb(109, 107, 107);
  margin-bottom: 20px;
}
.form-container .contacto-form .form-row button {
  font-weight: bold;
  color: white;
  background-color: rgb(100, 157, 204);
  border: none;
  border-radius: 3px;
  padding: 10px 30px;
  cursor: pointer;
}
.form-container .contacto-form .form-row button:hover {
  background-color: rgb(131, 171, 243);
}
.form-container .contacto-form .form-row button:active {
  background-color: rgb(76, 132, 238);
}

/*# sourceMappingURL=style.css.map */
