* {
    margin: 0;
    padding: 0;
  }
  

  @import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Open+Sans:ital,wght@1,600;1,700&family=Slabo+27px&display=swap');

  
  body {
    font-family: "roboto";
    font-weight: 300;
    text-align: justify;
    background-color:   rgba(247, 244, 239, 0.904);
    font-size: 16px;
  }


  // variable colores 

  $colores: 
  rgb(174, 174, 185),
  white,
  rgb(212, 198, 146),
  rgb(174, 174, 185),
  rgb(148, 138, 138);

// Mapas

  $redes: (
    instagram: rgba(208, 34, 214, 0.973),
    facebook: rgba(33, 108, 221, 0.973), 
);


// extends 

%boton {
  background-color: rgb(148, 138, 138);
  border-radius: 5%;
  color: white;
  border: none;
  transition: all 1s;

  &:hover {
      background-color: rgb(212, 198, 146);
      color: rgb(243, 243, 225);
      transform: scale(1.1);
  }

  a {
      text-decoration: none;
      color: white;
  }
}

%flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

// mixins

@mixin ubicacion ($tipo, $fila, $columna, $direction) {
  display: $tipo;
  justify-content: $fila ;
  align-items: $columna ;
  flex-direction: $direction;
}
