 /* ------------------------------ inicio footer ----------------------------- */

 footer {
   background-color: nth($colores, 4);

   .foot {
    @include ubicacion (flex, space-between, center, row);
     flex-wrap: wrap;
     max-width: 1140px;
     margin: auto;

     .botonera_f {
       margin: 0em 0.5em;

       .botonera_f_tit {
         margin-top: 0.5rem;
         margin-bottom: 0.5rem;
         padding: 0.4em;
         font-size: 1.2em;
         border-bottom: 1px solid black;
       }

       ul {
         li {
           text-decoration: none;
           list-style: none;
           text-align: flex-start;
           padding: 0.2em;

           a {
             text-decoration: none;
             color: black;
           }
         }
       }
       @media screen and (max-width: 576px) { display: none;}
     }

     .redes {
       @include ubicacion (flex, center, center, column);
       margin: 0em 0.5em;

       .redes_tit {
         margin-top: 0.5rem;
         padding: 0.4em;
         font-size: 1.2em;
         text-align: center;
         border-bottom: 1px solid black;
       }

       .redes_iconos {
        @extend %flexbox;
         padding-top: 2rem;

         .redes_link1 {
           padding: 0.5em;
           margin-bottom: 2.5em;

           .redes-img {
             width: 3.12em;
           }
         }

         .redes_link2 {
           padding: 0.5em;
           margin-bottom: 2.5em;

           .redes-img {
             width: 3.12em;
           }
         }
       }

       .logo-f {
         .logo-tit-f {
           font-size: 1.8em;
           color: gray;
           font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
             Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
           font-weight: unset;
           align-self: center;
         }
       }
     }

     .foot_contacto {
       @include ubicacion (flex, center, center, column);
       text-align: start;
       margin: 0em 0.5em;

       .foot_contacto_tit {
         margin-top: 0.5rem;
         margin-bottom: 1rem;
         padding: 0.4rem;
         font-size: 1.2em;
         text-align: center;
         border-bottom: 1px solid black;
       }

       div {
         .foot_contacto_iconos {
           display: flex;
           flex-direction: row;
           text-align: center;

           .icono {
             width: 30px;
           }

           h5 {
             text-align: center;
             font-size: 1em;
             font-weight: lighter;
             padding: 0.6rem;
           }
         }
       }
     }

     @media screen and (max-width: 1140px) {
       max-width: 700px;
       margin: auto;
     }

   }

   @media screen and (max-width: 576px) {
     font-size: 12px;
   }
 }


 /* ------------------------------- fin footer ------------------------------- */