/* -------------------------------- nosotras -------------------------------- */

.nos_portada {
  display: grid;
  background-image: url(../../img/fondo-nos.png);
  background-size: contain;
  max-width: 72rem;
  margin: auto;

  .nos_portada_art {
    justify-self: center;
    width: 80%;
    margin: 1rem 1rem 5rem 1rem;

    h2 {
      font-family: "Slabo 27px", serif;
      font-size: 2.5em;
      font-weight: 500;
      text-align: center;
      padding: 0.5em 0em;
      border-bottom: 1px solid gray;
      margin: 1em 3em
     }

    p {
      text-align: center;
      font-size: 1.2em;
    }

    @media screen and (max-width: 990px) {
      width: 70%;
      font-size: 14px;
    }

    @media screen and (max-width: 770px) {
      width: 80%;
      font-size: 12px;
    }
  }
}

.card-nos {
  position: relative;
  bottom: 4rem;

  .nos_main_art {
    justify-items: center;
    width: 90%;
    padding: 4rem 2rem 1rem 2rem;
    margin: 0.5;
    border: 2px solid gray;
  }

  .nos_main_img {
    width: 80%;
    padding: 1rem;
    margin: 0rem 2rem 2rem 2rem;
    border-radius: 2%;
    position: relative;
    top: 5rem;
  }
}


/* ------------------------------ fin nosotras ------------------------------ */